# **1. Diagnosing data for cleaning**

In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('../data/01-House-Price/train.csv')

In [6]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [8]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [14]:
imp_cols = ['YearBuilt','GarageYrBlt','BsmtQual','Foundation',
            'PavedDrive','GarageFinish','GarageArea','TotalBsmtSF']

In [15]:
df = df[imp_cols]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 8 columns):
YearBuilt       1460 non-null int64
GarageYrBlt     1379 non-null float64
BsmtQual        1423 non-null object
Foundation      1460 non-null object
PavedDrive      1460 non-null object
GarageFinish    1379 non-null object
GarageArea      1460 non-null int64
TotalBsmtSF     1460 non-null int64
dtypes: float64(1), int64(3), object(4)
memory usage: 91.3+ KB

In [17]:
df.BsmtQual.value_counts(dropna=False)

TA     649
Gd     618
Ex     121
NaN     37
Fa      35
Name: BsmtQual, dtype: int64

There are 37 missing values in BsmtQual column

In [19]:
df.Foundation.value_counts(dropna=False)

PConc     647
CBlock    634
BrkTil    146
Slab       24
Stone       6
Wood        3
Name: Foundation, dtype: int64

Foundation has no null entries

Next, we convert Foundation into a categorical feature

In [22]:
df['Foundation'] = df['Foundation'].astype('category',
                                           categories = ['PConc', 
                                                         'CBlock', 
                                                         'BrkTil', 
                                                         'Slab', 
                                                         'Stone',
                                                         'Wood'],
                                           ordered=True)

/home/climbach/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3325: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  exec(code_obj, self.user_global_ns, self.user_ns)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 8 columns):
YearBuilt       1460 non-null int64
GarageYrBlt     1379 non-null float64
BsmtQual        1423 non-null object
Foundation      1460 non-null category
PavedDrive      1460 non-null object
GarageFinish    1379 non-null object
GarageArea      1460 non-null int64
TotalBsmtSF     1460 non-null int64
dtypes: category(1), float64(1), int64(3), object(3)
memory usage: 81.6+ KB

In [24]:
df.Foundation.unique()

[PConc, CBlock, BrkTil, Wood, Slab, Stone]
Categories (6, object): [PConc < CBlock < BrkTil < Slab < Stone < Wood]

In [50]:
grades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
Subject       6 non-null object
Max           6 non-null int64
Obtained      6 non-null int64
Percentage    6 non-null object
dtypes: int64(2), object(2)
memory usage: 272.0+ bytes

Percentage column is a string object, need to make it numeric object

## **Regular Expression Matching**

In [77]:
import re

### **Example match**

In [58]:
re_matches = pd.DataFrame({
    'String':['17','$17','$17.00','$17.89','$17.895'],
    'Match Expression':['\d*','\$\d*','\$\d*\.\d*','\$\d*\.\d{2}','^\$\d*\.\d{2}$']
})
re_matches

    String Match Expression
0       17              \d*
1      $17            \$\d*
2   $17.00       \$\d*\.\d*
3   $17.89     \$\d*\.\d{2}
4  $17.895   ^\$\d*\.\d{2}$

In [88]:
pattern = re.compile('\d{2}\.\d{2}\%')
#pattern = re.compile('\$\d*\.\d{2}')

In [89]:
result = pattern.match('50.00%')
bool(result)

True

In [105]:
re.findall('\d+','the recipe calls for 10 strawberries and 1 banana')

['1', '0', '1']

Note: if the following '+' is removed '10' is matched as '0' and '1'

to match words,

In [113]:
re.findall('[a-z]\w*','The recipe calls for 10 strawberries and 1 banana')

['he', 'recipe', 'calls', 'for', 'strawberries', 'and', 'banana']

In [116]:
re.findall('[A-Z]\w*','The recipe calls for 10 strawberries and 1 banana')

['The']

In [121]:
grades = pd.DataFrame({
    'Subject':['English','Hindi','Marathi','Mathematics','Science','Social Sciences'],
    'Max':[100,100,100,150,150,150],
    'Obtained':[58,50,60,96,104,100],
    'Percentage':['58.00%','50.00%','60.00%','64.00%','69.333%','66.67%']
})
grades

           Subject  Max  Obtained Percentage
0          English  100        58     58.00%
1            Hindi  100        50     50.00%
2          Marathi  100        60     60.00%
3      Mathematics  150        96     64.00%
4          Science  150       104    69.333%
5  Social Sciences  150       100     66.67%

In [133]:
def to_numeric(row,pattern):
    percentage = row['Percentage']
    if bool(pattern.match(percentage)):
        percentage = float(percentage.replace('%',''))
        return percentage
    else:
        return(np.nan)

In [134]:
pattern = re.compile('\d{2}\.\d{2}%')

In [135]:
grades['Percent'] = grades.apply(to_numeric,axis=1,pattern=pattern)

In [136]:
grades

           Subject  Max  Obtained Percentage  Percent
0          English  100        58     58.00%    58.00
1            Hindi  100        50     50.00%    50.00
2          Marathi  100        60     60.00%    60.00
3      Mathematics  150        96     64.00%    64.00
4          Science  150       104    69.333%      NaN
5  Social Sciences  150       100     66.67%    66.67

In [137]:
grades.isnull().sum()

Subject       0
Max           0
Obtained      0
Percentage    0
Percent       1
dtype: int64

In [138]:
grades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
Subject       6 non-null object
Max           6 non-null int64
Obtained      6 non-null int64
Percentage    6 non-null object
Percent       5 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 320.0+ bytes