In [1]:
%matplotlib inline
import pandas as pd

from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [5]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [6]:
cast = pd.read_csv('data/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

#### **How many movies are listed in the titles dataframe?**

In [12]:
len(titles)

230621

#### **What are the earliest two films listed in the titles dataframe?**

In [13]:
titles.sort_values(by='year')[:2]

                     title  year
176477          Miss Jerry  1894
213694  The Startled Lover  1898

#### **How many movies have the title "Hamlet"?**

In [21]:
len(titles[titles['title']=='Hamlet'])

18

#### **How many movies are titled "North by Northwest"**

In [22]:
len(titles[titles['title']=='North by Northwest'])

1

#### **When was the first movie titled "Hamlet" made?**

In [33]:
titles[titles['title'] == 'Hamlet'].sort_values(by='year')[:1]

        title  year
46365  Hamlet  1910

#### **List all of the "Treasure Island" movies from earlist to most recent.**

In [35]:
titles[titles['title'] == 'Treasure Island'].sort_values(by='year')

                  title  year
204540  Treasure Island  1918
50896   Treasure Island  1920
189691  Treasure Island  1934
96259   Treasure Island  1950
59186   Treasure Island  1972
110576  Treasure Island  1973
203909  Treasure Island  1985
178072  Treasure Island  1999

#### **How many movies were made in the year 1950?**

In [36]:
len(titles[titles['year']==1950])

1093

#### **How many movies were made in the year 1960?**

In [37]:
len(titles[titles['year']==1960])

1496

#### **How many movies were made from 1950 through 1959?**

In [41]:
len(titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)])

12656

#### **In what years has a movie titled "Batman" been released?**

In [43]:
titles[titles['title']=='Batman']['year']

55577    1989
74047    1943
Name: year, dtype: int64

#### **How many roles were there in the movie "Inception"?**

In [50]:
len(cast[cast['title'] == 'Inception'])

77

#### **How many roles in the movie "Inception" are NOT ranked by an "n" value?**

In [56]:
len(cast[(cast['title']=='Inception') & (cast.n.notnull())])

51

#### **But how many roles in the movie "Inception" did receive an "n" value?**

In [57]:
len(cast[(cast['title']=='Inception') & (cast.n.isnull())])

26

#### **Display the cast of "North by Northwest" in their "n"-value order, ignoring roles that did not earn a numeric "n"value.**

In [65]:
cast[(cast['title'] == 'North by Northwest') & (cast.n.notnull())][['name','n']].sort_values('n')

                         name     n
840374             Cary Grant   1.0
3361396       Eva Marie Saint   2.0
1404704           James Mason   3.0
3024085   Jessie Royce Landis   4.0
343701         Leo G. Carroll   5.0
2923056  Josephine Hutchinson   6.0
1634552           Philip Ober   7.0
1229083         Martin Landau   8.0
2357939         Adam Williams   9.0
1746383          Edward Platt  10.0
642085      Robert Ellenstein  11.0
2212083          Les Tremayne  12.0
447893        Philip Coolidge  13.0
1454363         Patrick McVey  14.0
198496           Edward Binns  15.0
1334726             Ken Lynch  16.0

#### **Display the entire cast, in "n"-order, of the 1972 film "Sleuth".**

In [69]:
cast[(cast['title']=='Sleuth') & (cast['year']==1972)][['name','n']].sort_values('n')

                       name    n
1644328    Laurence Olivier  1.0
314691        Michael Caine  2.0
360365       Alec Cawthorne  3.0
1412647  John (II) Matthews  4.0
2619278  Eve (III) Channing  5.0
1396572        Teddy Martin  6.0

#### **Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".**

In [70]:
cast[(cast['title']=='Sleuth') & (cast['year']==2007)][['name','n']].sort_values('n')

                        name    n
314692         Michael Caine  1.0
1246855             Jude Law  2.0
1741124        Harold Pinter  3.0
250297       Kenneth Branagh  NaN
360366   Alec (II) Cawthorne  NaN
2619277    Eve (II) Channing  NaN
3223502    Carmel O'Sullivan  NaN

#### **How many roles were credited in the silent 1921 version of Hamlet?¶**

In [73]:
len(cast[(cast['title']=='Hamlet') & (cast['year']==1921)])

9

#### **How many roles were credited in Branagh’s 1996 Hamlet?**

In [77]:
len(cast[(cast['title']=='Hamlet') & (cast['year']==1996)])

54

#### **How many "Hamlet" roles have been listed in all film credits through history?**

In [83]:
len(cast[cast['character']=='Hamlet'])

91

#### **How many people have played an "Ophelia"?**

In [88]:
len(cast[cast['character']=="Ophelia"].name.unique())

109

#### **How many people have played a role called "The Dude"?**

In [90]:
len(cast[cast['character']=="The Dude"].name.unique())

18

#### **How many people have played a role called "The Stranger"?**

In [91]:
len(cast[cast['character']=="The Stranger"].name.unique())

197

#### **How many roles has Sidney Poitier played throughout his career?**

In [94]:
len(cast[cast['name'] == "Sidney Poitier"])

43

#### **How many roles has Judi Dench played?**

In [95]:
len(cast[cast.name == "Judi Dench"])

55

#### **List the supporting roles (having n=2) played by Cary Grant in the 1940s, in oeder by year**

In [102]:
cast[(cast.name == "Cary Grant") & (cast.year // 10 == 194) & (cast.n == 2)].sort_values('year')

                   title  year        name   type    character    n
840371  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
840381    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

#### **List the leading roles that Cary Grant played in the 1940s in order by year.**

In [103]:
cast[(cast.name == "Cary Grant") & (cast.year // 10 == 194) & (cast.n == 1)].sort_values('year')

,title,year,name,type,character,n
840397,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
840353,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
840399,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
840386,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
840401,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
840377,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
840344,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
840369,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
840370,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
840378,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
840336,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
840373,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
840372,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
840375,Notorious,1946,Cary Grant,actor,Devlin,1.0
840393,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
840394,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
840368,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
840348,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
840357,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

#### **How many roles were available for actors in the 1950s?**

In [106]:
len(cast[(cast.year // 10 == 195) & (cast.type == 'actor')])

154727

#### **How many roles were available for actresses in the 1950s?**

In [108]:
len(cast[(cast.year // 10 == 195) & (cast.type == 'actress')])

56259

#### **How many leading roles (n=1) were available from the beginning of film history through 1980?**

In [109]:
len(cast[(cast.n == 1) & (cast.year <= 1980)])

63924

#### **How many non-leading roles were available through from the beginning of film history through 1980?**

In [110]:
len(cast[(cast.n != 1) & (cast.year <= 1980)])

1094780

#### **How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?**

In [114]:
len(cast[(cast.n.isnull()) & (cast.year <= 1980)])

438086